<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Date Submitted: <%= @email_contents[:date] %>
    <p>Name: <%= @email_contents[:name] %></p>
    <p>Phone: <%= @email_contents[:phone] %></p>
    <p>Email: <%= @email_contents[:email] %></p>
    <p>Subject: <%= @email_contents[:subject] %></p>
    <p>Description: <%= @email_contents[:description] %></p>
  </body>
</html>